.search {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: whitesmoke;
    font-weight: bold;
    color: #333;
}

.search h1 {
    font-size: 32px;
}